<strong>Bem vindo ao GymPoint, {{ student }}</strong>
<hr />
<p>Obrigado por ter realizado a matricula!</p>
<p>Sobre o plano:
  <br />
  <strong>Plano escolhido: {{ plan }}</strong> <br />
  <strong>Preço total: </strong> R${{ price }} <br />
  <strong>Data/hora término do plano:</strong> {{ date }} <br />
</p>
<hr />
